body, html {
	margin: 0;
	padding: 0;
	line-height:1.6;
	font-size:20px;
	font-family: sans-serif
}

body>header {
	padding: 1vh 0;
	text-align: center;
}

header div.container {
	position: relative;
	height: 50vh;
}

body>header h1 {
	margin: 0;
	font-size: 3em;
}

body>header h1 a {
	text-decoration: none;
	color: inherit;
}

main {
	display: -ms-flex;
	display: -webkit-flex;
	display:flex;
	align-items: center;
	justify-content: center;	
}

main section.posts > ul {
	list-style: none;
}

main article {
	max-width: 800px;
}

main article header {
	text-align: center;
}

body>footer {
	text-align: center;
}

body.min > header {
	position: fixed;
	height: 10vh;
	width: 100%;
	background: inherit;
	top: 0;
}

body.min > header div.container {
	height: 10vh;
	display: inline-block;
}

body.min > header h1 {
	display: none;
}

body.min > main {
	margin-top: 12vh;
}
