html, body {
	color:#444;
	background: #eee;
}

header svg#logo {
	fill: #444;
}

main {
	background: #fff;
}

main section.posts h2 {
	text-align: center;
}

main section.posts>ul {
	padding: 0;
}

main section.posts li {
	margin: 10px 0;
	padding: 10px;
	border: 10px solid #eee;
}

main section.posts li>a.title {
	display: block;
	font-size: 2em;
}

main section.posts li>span.subtitle {
	display:block;
}

main section.posts li>time {
	font-size: 0.75em;
	color: #333;
	font-style: italic;
	margin-left: 2em;
}

main article {
	background: #fff;
	margin: 10px 0;
	padding: 10px;
	border: 10px solid #eee;
}

main article header span {
	font-style: italic;
}

main article header p.p-summary {
	border: 5px solid #eee;
	padding: 1em;
}
