html, body {
	color: var(--primary-text-color);
	background: var(--primary-bg-color);
}

header svg#logo {
	fill: var(--logo-fill);
}

main {
	background: var(--main-bg-color);
}

a {
	color: var(--link);
}

ul.posts-list {
	padding: 0;
}

ul.posts-list li {
	margin: 10px 0;
	padding: 10px;
	border: 10px solid var(--post-border);
}

ul.posts-list li>a.title {
	display: block;
	font-size: 2em;
}

ul.posts-list li>span.subtitle {
	display:block;
}

ul.posts-list li>time {
	font-size: 0.75em;
	color: var(--secondary-text-color);
	font-style: italic;
	margin-left: 2em;
}

main article {
	background: var(--article-bg-color);
	margin: 10px 0;
	padding: 10px;
	border: 10px solid var(--post-border);
}

main article header span {
	font-style: italic;
}

main article header p.p-summary {
	border: 5px solid var(--post-border);
	padding: 1em;
}

body>footer {
	padding: 1em;
}

body>footer .h-card {
	border: 10px solid var(--footer-border);
	padding: 1em;
}
