/* Default min theme colors */
body.theme-min {
	/* Layout colors */
	--primary-text-color: #454545;
	--secondary-text-color: #333;
	--primary-bg-color: #eee;
	--main-bg-color: #fff;
	--article-bg-color: #f9f9f10;

	/* Element-specific colors */
	--logo-fill: #444;
	--post-border: #eee;
	--footer-border: #fff;
	--link: #01476f;
}

/* Dark min theme colors */
body.theme-min.theme-color-dark {
	/* Layout colors */
	--primary-text-color: #F1F1F1;
	--secondary-text-color: #E5E5E5;
	--primary-bg-color: #111;
	--main-bg-color: #222;
	--article-bg-color: #0E0E0E;

	/* Element-specific colors */
	--logo-fill: #A4A4A4;
	--post-border: #333333;
	--footer-border: #454545;
	--link: #4187AF;
}
