/* Default min theme colors */
body.theme-min {
	/* Layout colors */
	--primary-text-color: #454545;
	--secondary-text-color: #333;
	--primary-bg-color: #eee;
	--main-bg-color: #fff;
	--article-bg-color: #e1e1e1;

	/* Element-specific colors */
	--logo-fill: #444;
	--post-border: #eee;
	--footer-border: #d8d8d8;
	--link: #01476f;
}

/* Dark min theme colors */
body.theme-min.theme-color-dark {
	/* Layout colors */
	--primary-text-color: #F1F1F1;
	--secondary-text-color: #E5E5E5;
	--primary-bg-color: #111;
	--main-bg-color: #222;
	--article-bg-color: #292929;

	/* Element-specific colors */
	--logo-fill: #A4A4A4;
	--post-border: #333333;
	--footer-border: #454545;
	--link: #4187AF;
}

/* Purple min theme colors */
body.theme-min.theme-color-purple {
	/* Layout colors */
	--primary-text-color: #F1F1F1;
	--secondary-text-color: #E5E5E5;
	--primary-bg-color: #352859;
	--main-bg-color: #4d2859;
	--article-bg-color: #273457;

	/* Element-specific colors */
	--logo-fill: #fff;
	--post-border: rgb(142, 126, 185);
	--footer-border: rgb(142, 126, 185);
	--link: #5DA3CB;
}
