---
layout: main
bodyClass: expanded
---
<section>
    <h1> 
        Alex Marcus is <a href="/doing">doing</a>.
    </h1>
    <p>
        There is so much to do!  I want to try it all.
    </p>
</section>

<section>
    <h1>
        Alex Marcus is <a href="/working">working</a>.
    </h1>
    <p>
        I'm a software engineer by trade, playful tinkerer by passion.
    </p>
</section>

<section>
    <h1>
        Alex Marcus is <a href="/thinking">thinking</a>.
    </h1>
    <p>
        My thoughts are my own, but I'm happy to share them with you.
    </p>
</section>


