---
layout: main
bodyClass: expanded
---
<section class="construction">
    Please pardon the dust - this site is under construction.  Some links might be disabled or not working, but it's (probably) intentional.
</section>
<section class="p-note">
    <p>
        Hi there! I'm Alex Marcus.
    </p>
    <p>
    This site is a collection of writing and media which cronicle the things I've done and want to do. It's partially an experiment in documenting my personal history (I love nostalgia), and partially a resource for you to get to know me. 
    <p>
        I work with computers and play with anything I can get my hands on.
    </p>
    <p>
        I live in Bremerton, WA with my wife <a href="https://chelseakellogg.com">Chelsea</a> and dogs Bartleby and Bonnibel.  Together we explore the wilds of the Pacific Northwest and beyond.
    </p>
</section>
<img class="u-photo" src="/img/bioPhoto.jpg" />

