---
pagination:
  data: collections
  size: 1
  alias: tag
layout: main
bodyClass: min
permalink: /tags/{{ tag }}/
---
<section>
	<h1>Posts about {{ tag | capitalize }}</h1>

	{% set postslist = collections[ tag ] %}
	{% include "postslist.njk" %}
</section>
