---
layout: main
bodyClass: min
---
<article class="h-entry">
	<header>
		<h1 class="p-name">{{ title }}</h1>
		<p class="p-summary">{{ summary}}</p>
	</header>
	<section class="e-content">
		{{ content | safe }}
	</section>
	<footer>
		<p>
			<a class="p-author h-card u-url" href="https://alexmarc.us">Alex Marcus</a>
			: <time class="dt-published" datetime="{{ page.date | dateIso }}">{{ page.date | dateReadable }}</time>
		</p>
		{% for tag in tags %}
			<a href="/tags/{{ tag }}">{{ tag }}</a>
		{% endfor %}
	</footer>
</article>
