---
layout: main
bodyClass: min
---
<article class"h-entry">
	<header>
		<h1 class="p-name">{{ title }}</h1>
		<span class="p-summary">{{ subtitle }}</span>
	</header>
	<section class="e-content">
		{{ content | safe }}
	</section>
	<footer>
		<p>
			{{ source }} by <a class="p-author u-url" href="https://alexmarc.us">Alex Marcus</a>
			on <time class="dt-published" datetime="{{ page.date | dateIso }}">{{ page.date | dateReadable }}</time>
		</p>
	</footer>
</article>
