---
title: "Doing Index"
layout: "main"
permalink: "doing/index.html"
---
<p>
    There is so much to do!  I want to try it all.
</p>

{% set postslist = collections.doing %}
{% include "postslist.njk" %}
