---
title: "Doing Index"
layout: "main"
permalink: "doing/index.html"
---

<p>
    Here is a nice little blurb about <i>doing</i>.
</p>

{% set postslist = collections.doing %}
{% include "postslist.njk" %}
