---
title: "Working Index"
layout: "main"
permalink: "working/index.html"
---
<p>
    I'm a software engineer by trade, playful tinkerer by passion.
</p>

{% set postslist = collections.working %}
{% include "postslist.njk" %}
